[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide:not(.ng-hide-animate){
  display:none !important;
}
ng:form{
  display:block;
}

div::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}
div::-webkit-scrollbar-track{
  background: rgb(239, 239, 239);
  border-radius:2px;
}
div::-webkit-scrollbar-thumb{
  background: #bfbfbf;
  border-radius: 8px;
}
div::-webkit-scrollbar-thumb:hover{
  background: #333;
}
div::-webkit-scrollbar-corner{
  background: #efefef;
}

/* 公共色值 */
$theme: #37a892;
$font-color-515: #515a6e;
$font-color-333: #333;
$font-color-666: #666;
$font-color-888: #888;
$font-color-999: #999;
$font-color-green: #41b6a3;
$font-color-orange: #ecad4a;
$font-color-red: #d93003;
$border-color-d2: #d2d2d2;
$border-color-ddd: #ddd;
$bg-color-eee: #eee;
$bg-color-f9: #f9f9f9;


@mixin box-sizing($value) {
  -moz-box-sizing: $value;
  -webkit-box-sizing: $value;
  -o-box-sizing: $value;
  -ms-box-sizing: $value;
  box-sizing: $value;
}

.box-sizing{
  @include box-sizing(border-box);
}
.router-active{
  color: $theme;
}

.ol-list{
  padding-left: 30px;
  li{
    margin-bottom: 10px;
    list-style: decimal;
  }
}

.pns-app{
  color: $font-color-333;
  overflow: hidden auto;
}

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.hide{
  display: none !important;
}
.show{
  display: block !important;
}
.required:before{
  content: "*";
  position: relative;
  color: red;
  top: 2px;
}

.btn-right{
  float: right;
  height: 28px;
}
.borderNone{
  border: 0 !important;
}
.border-b-None{
  border-bottom: 0 !important;
}

.layui-layout-admin .layui-side,
.layui-layout-admin .layui-body{
  bottom: 0 !important;
  overflow: hidden;
}
.layui-anim-upbit{
  top: 47px !important;
}
.layui-layout-admin .layui-body.body{
  top: 47px !important;
}

.layui-nav{
  .layui-nav-item a{
    padding: 0 !important;
    height: 48px !important;
    line-height: 48px !important;
  }
}
.layui-icon{
  font-size: 14px !important;
  cursor: pointer;
}
.layui-nav-tree .layui-nav-more{
  right: 20px !important;
}
.layui-nav .layui-nav-item .layui-nav-more{
  border-width: 6px !important;
}
.layui-nav .layui-nav-child .layui-nav-more{
  border-width: 4px !important;
  margin-right: 3px;
}

/* 侧栏导航 end*/
.layui-table .icon-toggle{
  position: relative;
  top: 3px;
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 14px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 12px;
  overflow: hidden;
}

.body{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f3f6;
  z-index: 0 !important;
  @include box-sizing(border-box);
  .body-box{
    position: relative;
    width: 100%;
    height: 100%;
  }
  .body-content{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 36px 16px 16px 16px;
    overflow: hidden;
    @include box-sizing(border-box);
  }
}
.body-main{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  border: #dee2e5 solid 1px;
  border-radius: 6px;
  .container{
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff;
    .box{
      padding: 0 24px;
      border-bottom: #dee2e5 solid 1px;
      &:last-child{
        border-bottom: 0;
      }
    }
    .organize{
      .pns-row.buttons{
        padding-top: 10px;
      }
      .pns-padding-top-15 {
        padding-top: 10px !important;
        .layui-form-item{
              margin-bottom: 10px !important;
          }
      }
      .table-box{
        margin-top: 10px !important;
      }
    }
  }
}
.layui-form-item{
  line-height: 28px !important;
  margin-bottom: 20px !important;
}
.information .layui-form-item{
  margin-bottom: 0 !important;
}
.layui-form-item .layui-form-label{
  width: 105px;
  line-height: 28px;
  padding: 0 5px 0 0 !important;
  &.fold{
    line-height: 14px;
  }
}
.layui-form-item .layui-input-block{
  position: relative;
  min-height: 28px;
  padding: 0 !important;
}
.layui-input,
.layui-select{
  height: 28px !important;
  line-height: 28px !important;
}
.layui-textarea{
  height: 60px;
  min-height: 30px;
  line-height: 20px !important;
}

.layui-form-item{
  line-height: 35px;
}

.m-t-10{
  margin-top: 10px;
}
.m-b-10{
  margin-bottom: 10px;
}
.m-r-10{
  margin-right: 10px;
}
.m-l-10{
  margin-left: 10px;
}

.padding-15{
  padding: 15px;
  @include box-sizing(border-box);
}

/*区块标题样式*/
.titleModular{
  width: 100%;
  height: 16px;
  line-height: 16px;
  margin: 24px 0 20px 0;
  color: $font-color-666;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  span{
    padding-left: 6px;
  }
  @include box-sizing(border-box);
}

//table表格
.layui-table-box .layui-unselect.layui-form-checkbox {
  position: absolute;
  left: 50% !important;
  top: 50% !important;
  width: 14px !important;
  height: 14px !important;
  text-align: center;
  line-height: 14px !important;
  margin-top: -7px !important;
  margin-left: -7px !important;
}
.layui-table td,
.layui-table th{
  border: none !important;
  font-size: 12px !important;
}
.layui-table td{
  border-right: 1px solid #c5c5c5 !important;
}
.layui-table tr td:last-child{
  border-right: 0 !important;
}
.layui-table th{
  border-right: 1px solid #49b8a5 !important;
}
.layui-table,
.layui-table-view{
  margin: 0 !important;
  .layui-table{
    width: 100% !important;
  }
}
.layui-border-box,
.layui-table-page{
  border: none !important;
}
.layui-table thead th{
  background-color: $theme;
}
.layui-table thead th span{
  color: #fff !important;
}
.layui-table thead th .layui-table-sort-asc{
  border-bottom-color: #fff !important;
}
.layui-table thead th .layui-table-sort-desc{
  border-top-color: #fff !important;
}
.layui-table tbody{
  border-bottom: 1px solid #c5c5c5 !important;
}
.layui-table tbody tr:nth-child(even){
  background-color: #f4f4f4;
}
.layui-table-click{
  background-color: #ddf1ed !important;
}
.layui-table-hover{
  background-color: transparent !important;
}
.layui-table tbody tr:hover{
  background-color: #ddf1ed !important;
}
.layui-table-view .layui-form-radio>i{
  font-size: 14px !important;
}
.layui-table-view .layui-form-checkbox[lay-skin=primary] i{
  width: 14px !important;
  height: 14px !important;
}
.layui-unselect.layui-form-radio{
  position: absolute;
  left: 50%;
  top: 50% !important;
  width: 14px;
  height: 14px;
  text-align: center;
  line-height: 14px !important;
  margin-top: -7px !important;
  margin-left: -7px !important;
}
.layui-table-box{
  width: 100%;
  overflow: visible !important;
}
.layui-table-cell{
  height: 28px !important;
}
.layui-table td,
.layui-table th {
  padding: 0 !important;
  height: 28px !important;
  line-height: 28px !important;
}


$page-height: 20px;
$page-border-color: #c2c2c2;
$page-border-radius: 3px;

//分页
.pns-page{
  position: relative;
  width: 100%;
  height: $page-height;
  line-height: $page-height;
  padding: 0 0 15px 0;
  text-align: left;
  overflow: hidden;
  .page-total{
      float: left;
      height: 100%;
      margin-right: 12px;
      span{
        margin-right: 4px;
      }
  }
  .page-select{
      float: left;
      height: 100%;
      margin-right: 16px;
      select{
        color: $font-color-515;
        width: 50px;
      }
      span{
        margin-right: 10px;
      }
  }
  .page-button{
      float: left;
      height: 100%;
      margin-right: 16px;
      margin-left: 50px;
      .button{
        display: block;
        float: left;
        min-width: 20px;
        padding: 0 5px;
        height: 100%;
        text-align: center;
        margin-right: 4px;
        border-radius: 2px;
        font-size: 12px;
        color: $font-color-333;
        border: $border-color-ddd solid 1px;
        background-color: #fff;
        cursor: pointer;
        &:hover{
          background-color: $font-color-333;
          color: #fff;
        }
        &.active{
          background-color: $theme;
          color: #fff;
        }
        &.disabled{
          background-color: $border-color-ddd;
          cursor: not-allowed;
          i{
            cursor: not-allowed;
          }
          &:hover{
            background-color: $border-color-ddd;
            color: $font-color-333;
          }
        }
      }
    }
    .page-jump{
      float: left;
      height: 100%;
      input{
        width: 25px;
        height: 100%;
        padding: 0 4px;
        margin: 0 7px;
        border: $border-color-ddd solid 1px;
        @include box-sizing(border-box);
      }
      button {
        margin-left: 20px;
        color: #333 !important
      }
    }
}

.form-disabled{
  background-color: #f9f9f9;
  cursor: not-allowed;
}

//select
.pns-ng-select{
  position: relative;
  width: 100%;
  height: 26px;
  line-height: 26px;
  @include box-sizing(border-box);
  .select-input{
    position: relative;
    width: 100%;
    height: 100%;
    @include box-sizing(border-box);
    .input{
      float: left;
      width: 100%;
      height: 100%;
      padding-left: 10px;
      padding-right: 26px;
      line-height: 26px;
      border-radius: 2px;
      border: $border-color-d2 solid 1px;
      @include box-sizing(border-box);
    }
    &.text .input{
      border: 0;
      font-size: 14px !important;
      padding: 0;
    }
  }
  .select-arrow{
    position: absolute;
    top: 0;
    right: 0;
    width: 26px;
    height: 100%;
    text-align: center;
    border: 0;
  }
  .select-list{
    position: absolute;
    left: 0;
    top: 115%;
    width: 100%;
    min-height: 26px;
    max-height: 130px;
    border-radius: 2px;
    border: $border-color-d2 solid 1px;
    background-color: #fff;
    z-index: 9;
    overflow-x: hidden;
    overflow-y: auto;
    .item{
      line-height: 26px;
      color: $font-color-333;
      text-indent: 10px;
      text-align: left;
      cursor: pointer;
    }
  }
  .select-list-box{
    position: absolute;
    left: 0;
    top: 115%;
    width: 100%;
    overflow: hidden;
    border-radius: 2px;
    border: $border-color-d2 solid 1px;
    .list{
      position: relative;
      width: 100%;
      height: 130px;
      background-color: #fff;
      z-index: 9;
      overflow-x: hidden;
      overflow-y: auto;
      .item{
        line-height: 26px;
        color: $font-color-333;
        text-indent: 10px;
        text-align: left;
        cursor: pointer;
      }
    }
    .arrow{
      position: relative;
      width: 100%;
      height: 26px;
      background-color: #f9f9f9;
      z-index: 9;
      i{
        cursor: pointer;
      }
      .text-right{
        padding-right: 15px;
        @include box-sizing(border-box);
      }
      .text-left{
        padding-left: 15px;
        @include box-sizing(border-box);
      }
    }
  }
}


/* 选项卡 */
.layui-tab{
  border: none !important;
  box-shadow: none !important;
}
.layui-tab-title{
  height: 30px !important;
}
.layui-tab-title li{
  line-height: 30px !important;
}
.layui-tab-title .layui-this:after{
  display: none !important;
}
.layui-tab-card>.layui-tab-title{
  background-color: #fff !important;
}
.layui-tab-card>.layui-tab-title li{
  position: relative;
  top: -1px;
  border-style: solid !important;
  border-color: #e1e1e1 !important;
  border-width: 1px 1px 0 1px !important;
  background-color: #f1f2f1 !important;
  border-radius: 4px 4px 0 0 !important;
  margin-right: 5px !important;
}
.layui-tab-card>.layui-tab-title li.layui-this{
  color: #0c9587 !important;
  background-color: #fff !important;
  top: -2px;
}
.layui-tab-content{
  padding: 15px 0 0 0 !important;
}


/*按钮样式*/
.layui-btn{
  position: relative;
  min-width: 65px;
  height: 28px;
  line-height: 28px;
  height: 25px \9;
  line-height: 23px \9;
  font-size: 14px;
  color: #999999 !important;
  border-radius: 2px !important;
  background-color: #fff !important;
  transition: none !important;
  &.file{
    font-size: 12px;
    input{
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      opacity: 0;
      filter:Alpha(opacity=0);
      color: transparent;
      width: 100%;
      height: 100%;
      cursor: pointer;
      font-size: 100px;
      background:transparent;
    }
  }
  &.layui-btn-primary{
    border: #ddd solid 1px !important;
  }
}
.search-btn{
  background-color: $theme !important;
  color: #fff !important;
}
.search-btn:hover{
  background-color: $theme !important;
  color: #fff !important;
}
.code-btn{
  background-color: #fff !important;
  color: $font-color-green !important;
  border: $theme solid 1px !important;
}
.code-btn:hover{
  background-color: #fff !important;
  color: $font-color-green !important;
  border: $theme solid 1px !important;
}
.delete-btn{
  background-color: #eb4149 !important;
  color: #fff !important;
}
.delete-btn:hover{
  background-color: #f54c54 !important;
  color: #fff !important;
}

.pns-row.buttons{
   padding-top: 0;
   .layui-btn{
     float: left;
   }
   .layui-btn{
     height: 26px !important;
     line-height: 26px !important;
   }
}
.layui-nav .layui-nav-item>a{
  color: #fff !important;
}
.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after{
  background-color: transparent !important;
}

/* pns表单样式 */
.pns-input{
  width: 100%;
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
  @include box-sizing(border-box);
  border-radius: 2px;
  border: #ddd solid 1px;
}
.pns-textarea{
  width: 100%;
  height: 60px;
  line-height: 20px;
  padding: 10px;
  @include box-sizing(border-box);
  border-radius: 2px;
  border: #ddd solid 1px;
  resize: none;
}

.pns-step{
  overflow: hidden;
  .item{
    float: left;
    text-align: center;
    padding-bottom: 16px;
    border-bottom: #ddd solid 1px;
    .number{
      display: inline-block;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background: #eee;
      font-size: 20px;
      line-height: 36px;
      text-align: center;
      color: #999;
      margin-right: 5px;
    }
    .title{
      display: inline-block;
      font-size: 16px;
      color: #999;
    }
  }
}

.error-tips{
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 4px;
  font-size: 12px;
  line-height: 12px;
  color: red;
}
.error-input{
  border: red solid 1px !important;
}
.handle-error-tips{
  padding: 10px 0 0 110px;
  font-size: 12px;
  line-height: 12px;
  color: red;
}
.handle-error-input{
  border: red solid 1px;
}

/* 模态窗口 modal */
.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #fff;
  z-index: 1;
  .modal-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.3;
    filter:Alpha(opacity=30);
    z-index: 1;
  }
  .modal-main{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    border-radius: 2px;
    overflow: hidden;
    z-index: 2;
  }
  .modal-header{
    padding: 0 80px 0 20px;
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    background-color: #F8F8F8;
    border-radius: 2px 2px 0 0;
  }
  .modal-content{
    width: 100%;
    height: 100%;
    padding: 15px 40px 65px 40px;
    overflow-x: hidden;
    overflow-y: auto;
    @include box-sizing(border-box);
    .layui-border-box.layui-table-view{
      min-height: 200px;
    }
    >.content{
      position: relative;
      width: 100%;
      height: 100%;
    }
    .not-text{
      height: auto !important;
    }
  }
  .modal-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 10px 15px;
    border-top: $border-color-ddd solid 1px;
    background-color: #fff;
    @include box-sizing(border-box);
  }
}
.layui-layer{
  .modal{
    position: absolute !important;
  }
}
.layui-layer.layui-layer-page{
  top: 15%;
}


/* table初始化 */
.table-box{
  position: relative;
  width: 100%;
  clear: both;
  margin-top: 10px;
  margin-bottom: 15px;
  max-height: 400px;
  min-height: 0%;
  .frame{
    padding: 0 !important;
    overflow: auto;
    @include box-sizing(border-box);
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #ddd;
  }
  .operation{
    position: absolute;
    top: -36px;
    right: 0;
    width: 100px;
    height: 30px;
    text-align: right;
    .iconfont{
      margin-left: 15px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 20px;
      text-align: center;
      color: #999;
      cursor: pointer;
      &:hover{
        color: #666;
      }
    }
  }
  .autoCloumn{
    position: fixed;
    width: 150px;
    height: 300px;
    padding: 5px 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px #ddd;
    border: 1px solid #ddd \9;
    z-index: 5;
    .item{
      position: relative;
      padding: 0 15px;
      height: 30px;
      line-height: 30px;
      font-size: 12px;
      color: #666;
      &:hover{
        background-color: #f9f9f9;
      }
      .label{
        width: 100%;
        span{
          margin-left: 3px;
        }
      }
    }
  }
}
.table{
  position: relative;
  width: 100%;
  border-collapse: collapse;
  border-bottom: $border-color-ddd solid 1px;
  &.border{
    border: 1px solid $border-color-ddd;
  }
  &.search{
    border-left: $border-color-ddd solid 1px;
    tr{
      border-bottom: $border-color-ddd solid 1px;
    }
    tr:last-child{
      border-bottom: 0 !important;
    }
  }
  &.pns-table{
    .th{
      height: 28px;
      line-height: 28px;
      color: #fff;
      font-size: 12px;
      font-weight: 500;
    }
    .title{
      width: 100%;
      white-space: nowrap;
      text-align: center;
      padding: 0 10px;
      @include box-sizing(border-box);
      font-size: 12px !important;
      .select-input{
        .input{
          font-size: 12px !important;
        }
      }
    }
    .td{
      font-size: 12px;
      line-height: 28px;
      border-right: $border-color-ddd solid 1px;
    }
    .tbody{
      .tr:nth-child(even){
        background-color: #f4f4f4;
      }
    }
    .layui-btn{
      padding: 0 10px !important;
      min-width: auto !important;
      height: 20px;
      line-height: 20px !important;
      margin-right: 10px;
      background-color: transparent !important;
    }
    .bg-error{
      background-color: #d93003;
      color: #fff;
    }
    .bg-warning{
      background-color: #ecad4a;
      color: #fff;
    }
    .bg-light{
      background-color: #41b6a3;
      color: #fff;
    }
    .title-href{
      cursor: pointer;
      background-color: transparent !important;
    }
    .pns-ng-select{
      height: 20px;
      line-height: 20px;
    }
    .td_border{
      border-width: 0 1px 1px 1px;
      border-style: solid;
      border-color: #e5e5e5;
    }
  }
}

.multiple{
  line-height: 25px;
  line-height: 25px;
  input{
    margin-right: 5px;
    margin-left: 2px;
  }
}

/* 搜索栏 */
$searchAbc-height:26px;
.search-label{
  position: relative;
  width: 140px;
  height: 100%;
  padding: 10px 5px 0 10px;
  color: $font-color-999;
  font-size: 12px;
  vertical-align: top;
  background-color: #f4f4f4;
  @include box-sizing(border-box);
  &.line20{
    line-height: 20px;
  }
}
.search-content{
  padding: 7px 0 7px 20px;
  .pns-input-search,
  .pns-ng-select{
    width: 640px !important;
  }
}
.pns-date{
  position: relative;
  width: 180px;
  height: 28px;
  padding-right: 10px;
  border: $border-color-ddd solid 1px;
  border-radius: 2px;
  .pns-input-date{
    position: relative;
    width: 100% !important;
    border: 0 !important;
  }
  .icon{
    position: absolute;
    right: 10px;
    top: 0;
    width: 16px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #888;
  }
}

.pns-search-abc{
  position: relative;
  width: 100%;
  overflow: hidden;
  @include box-sizing(border-box);
  .result-search{
    position: relative;
    width: 100%;
    height: 48px;
    padding: 10px 30px 10px 0;
    @include box-sizing(border-box);
    input{
      position: absolute;
      right: 30px;
    }
    i{
      position: absolute;
      right: 40px;
      top: 16px;
      font-size: 14px;
      color: $font-color-888;
    }
  }
  >.more{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    line-height: 23px;
    cursor: pointer;
    .iconfont{
      font-size: 12px;
    }
  }
  &.letterDisplay{
    height: 120px;
  }
  .search{
    position: relative;
    width: 100%;
    height: 100%;
    height: $searchAbc-height;
    line-height: $searchAbc-height;
    .abc{
      float: left;
      margin-right: 16px;
      height: 100%;
      font-size: 16px;
      cursor: pointer;
      &.active{
        text-decoration: underline;
        font-size: 20px;
        font-weight: bold;
      }
    }
    .reset{
      float: right;
    }
  }
  .list{
    position: relative;
    width: 100%;
    height: 23px;
    overflow: hidden;
    .item{
      float: left;
      margin-top: 3px;
      margin-right: 8px;
      font-size: 12px;
      height: 20px;
      line-height: 20px;
      padding: 0 5px;
      border-radius: 2px;
      color: $font-color-515;
      background-color: transparent;
      cursor: pointer;
      &:hover{
        background-color: #c2c2c2;
        color: #fff;
      }
      &.active{
        color: #fff;
      }
      &.active:hover{
        color: #fff;
      }
    }
  }
  .all{
    position: relative;
    top: 3px;
    float: left;
    width: 56px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    background-color: $border-color-d2;
    margin-right: 26px;
    border-radius: 2px;
    cursor: pointer;
    overflow: hidden;
    .ok{
      float: right;
      width: 20px;
      height: 100%;
      line-height: 18px;
      text-align: center;
      color: transparent;
      font-size: 14px;
      font-weight: bold;
      border-right: $border-color-d2 solid 1px;
      border-top: $border-color-d2 solid 1px;
      border-bottom: $border-color-d2 solid 1px;
      @include box-sizing(border-box);
      background-color: #fff;
    }
    &.active{
      background-color: $theme;
      .ok{
        color: $font-color-green;
      }
    }
  }
}
.search-mask{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.pns-search{
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  .content{
    border-radius: 2px;
    tr{
      border-bottom: 0 !important;
    }
    &.border{
      border-width: 1px 0 0 0;
      border-style: solid;
      border-color: #e5e5e5;
      tr{
        border-bottom: #e5e5e5 solid 1px !important;
      }
      tr:last-child{
        border-bottom: none !important;
      }
    }
  }
  .footer{
    margin-top: 10px;
    button {
      height: 28px;
      line-height: 28px;
    }
    .layui-btn+.layui-btn{
      margin-left: 10px;
    }
    .fold{
      margin-left: 10px;
      cursor: pointer;
      color: #666;
      font-size: 12px;
    }
  }
}
.pns-search-tree{
  position: relative;
  width: 100%;
  .search-input{
    position: relative;
    width: 100%;
    line-height: 26px;
    min-height: 26px;
    border: $border-color-ddd solid 1px;
    padding: 0 30px 0 4px;
    @include box-sizing(border-box);
    border-radius: 2px;
    overflow: hidden;
    .card-list{
      position: relative;
      width: 100%;
      height: 100%;
      word-wrap: break-word;
      word-break: normal;
      .card-placeholder{
        font-size: 12px;
        color: $border-color-d2;
      }
      .card{
        position: relative;
        display: inline-block;
        padding: 0 8px;
        height: 24px;
        line-height: 24px;
        margin: 1px 4px 1px 0;
        background-color: #f7f7f7;
        border-radius: 2px;
        font-size: 12px;
        color: $font-color-515;
        border: #e8eaec solid 1px;
        @include box-sizing(border-box);
        .layui-icon{
          position: relative;
          left: 6px;
          z-index: 9;
        }
      }
    }
    .icon{
      position: absolute;
      top: 50%;
      right: 0;
      width: 26px;
      height: 26px;
      margin-top: -13px;
      line-height: 26px;
      text-align: center;
      font-size: 12px;
      color: $font-color-515;
    }
  }
  .search-list{
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 80px;
    max-height: 200px;
    margin: 5px 0;
    padding: 6px 4px 6px 4px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    border: #f4f4f4 solid 1px;
    background-color: #fff;
    @include box-sizing(border-box);
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
    .input{
      position: relative;
      width: 100%;
      height: 26px;
      input{
        position: relative;
        width: 100%;
        height: 26px;
        line-height: 26px;
        border: $border-color-ddd solid 1px;
        padding: 0 32px 0 7px;
        @include box-sizing(border-box);
        border-radius: 2px;
        overflow: hidden;
      }
      .layui-icon{
        position: absolute;
        right: 8px;
        top: 3px;
        color: $font-color-515;
      }
    }
  }

}

/* tree */
.layui-form-checked[lay-skin=primary] i {
    border-color: $theme !important;
    background-color: $theme !important;
    color: #fff;
}
.layui-tree-icon{
  border: none !important;
}
.layui-icon-file{
  opacity: 0 !important;
}
.layui-icon-subtraction::before{
  content: "\e61a" !important;
  font-size: 12px;
}
.layui-icon-addition::before {
  content: "\e602" !important;
  font-size: 12px;
}
.layui-tree-line .layui-tree-set:before{
  border: 0 !important;
}
.layui-tree-line .layui-tree-set .layui-tree-set:after{
  border: 0 !important;
}
.layui-form-checkbox[lay-skin=primary] i {
  width: 12px;
  height: 12px;
  top: 2px;
}
.layui-tree-txt{
  font-size: 12px;
}

/*  李锋博 start */
/* 弹窗按钮样式 */
.layui-layer .layui-layer-btn .layui-layer-btn0 {
  border-color: #37a892;
  background-color: #37a892;
}
/* 李锋博 end */

/* 鼠标右键菜单样式 */
.context-menu{
  position: fixed;
  width: 78px;
  background-color: #fff;
  border-radius: 4px;
  padding: 5px 0;
  z-index: 9;
  border: #ddd solid 1px;
  display: none;
  .list{
    width: 100%;
    .item{
      width: 100%;
      height: 28px;
      line-height: 28px;
      text-align: center;
      font-size: 12px;
      color: $font-color-333;
      cursor: pointer;
      &:hover{
        background-color: $theme;
        color: #fff;
      }
    }
  }
}

.pns-row{
  position: relative;
  .pns-col-lg{
    float: left;
  }
  .pns-col-lg6{
    float: left;
  }
}
.layui-layer-page
.layui-layer-content{
  min-height: 300px;
  overflow: hidden !important;
}
/* 栅格 */
.pns-col-lg12{
  width: 100%;
}
.pns-col-lg6{
  width: 50%;
}
@media screen and (min-width: 1200px){
  .pns-col-lg{
    width: 33.3333333%;
  }
}
@media screen and (min-width: 1600px){
  .pns-col-lg{
    width: 25%;
  }
}
@media screen and (min-width: 1900px){
  .pns-col-lg{
    width: 20%;
  }
}

.pns-input-search{
  position: relative;
  width: 100%;
  height: 26px;
  z-index: 1;
  .label-title{
    float: left;
    height: 28px;
    line-height: 26px;
    font-size: 12px;
    border-width: 1px 0 1px 1px;
    padding-left: 10px;
    border-style: solid;
    border-color: $border-color-ddd;
    border-radius: 2px 0 0 2px;
    @include box-sizing(border-box);
  }
  .pns-input{
    float: left;
    width: 75%;
    border-left: 0;
    padding-left: 0 !important;
    border-radius: 0 2px 2px 0;
  }
  .select-list{
    position: absolute;
    width: 100%;
    top: 30px;
    left: 0;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    border: #f4f4f4 solid 1px;
    background-color: #fff;
    .item{
      height: 26px;
      line-height: 26px;
      color: $font-color-666;
      padding: 0 10px;
      font-size: 12px;
      cursor: pointer;
      @include box-sizing(border-box);
      &:hover{
        background-color: #f4f4f4;
        color: #fff;
      }
      .title{
        color: $font-color-888;
      }
      .text{
        color: $font-color-333;
      }
    }
  }
}
.form-box{
  padding-bottom: 50px \9;
  .form-item{
    border-bottom: #e5e5e5 solid 1px;
    margin-bottom: 30px;
    &:nth-last-child(2){
      border-bottom: none;
    }
  }
}
.layui-icon-down,.layui-icon-up {
  font-size: 12px !important
}
.pns-library{
    position: relative;
    width: 100%;
    height: 100%;
    .iconfont{
      position: absolute;
      right: 8px;
      height: 29px;
      line-height: 29px;
      font-size: 14px;
      color: #888;
    }
}
.moreList{
  position: relative;
  width: 100%;
  border-top: #e8eaec solid 1px;
  border-left: #e8eaec solid 1px;
  overflow: hidden;
  @include box-sizing(border-box);
  .item{
    float: left;
    width: 20%;
    height: 48px;
    line-height: 16px;
    padding: 16px 0;
    border-right: #e8eaec solid 1px;
    border-bottom: #e8eaec solid 1px;
    @include box-sizing(border-box);
    .label{
      padding-left: 18px;
      input{
        margin-right: 3px;
      }
      span{
        font-size: 12px;
      }
    }
  }
}
.moreTitle{
  padding: 20px 0;
}
.pns-list-select{
  padding-top: 5px;
  max-height: 80px;
  overflow-x: hidden;
  overflow-y: auto;
  .item{
    display: inline-block;
    padding: 5px;
    margin-bottom: 6px;
    margin-right: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 12px;
    background-color: #f9f9f9;
    color: #333;
    background-color: #f3f3f3;
    border-radius: 2px;
    @include box-sizing(border-box);
    .title{
      margin-right: 3px;
    }
    i{
      font-size: 12px;
      cursor: pointer;
    }
  }
}
.pns-loading{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999;
  .pns-loading-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .pns-loading-img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    height: -12px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .pns-loading-img.long{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 48px;
    margin-left: -12px;
    height: -12px;
    img{
      width: 100px;
      height: 20px;
    }
    span{
      font-size: 12px;
      color: #999;
    }
  }
}