/* 佐证材料打印样式 */
.pns-evidence{
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    background-color: #fff;
    z-index: 9999;
    .temp{
        line-height: 35px;
        font-size: 14px;
        >.title{
            font-size: 20px;
            font-weight: bold;
            text-align: left;
            page-break-before: auto;        
            page-break-after: always;
        }
        .title-min{
            font-size: 20px;
            text-align: center;
        }
        .input{
            font-size: 14px !important;
            line-height: 14px;
            text-align: center;
            border-width: 0 0 1px 0;
            border-style: solid;
            border-color: #333;
            word-wrap: break-word;
            word-break: normal;
            padding: 0 20px;
        }
        .pl-line{
            padding-left: 60px;
        }
        .text-right{
            padding-right: 100px;
        }
        .pl-right{
            padding-right: 136px;
        }
        .seal{
            margin-top: 20px;
        }
        .table-box{
            max-height: none;
        }
    }
}